{% extends "../partials/layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Action plan – " + applicationName %}
{% set mainClasses = "govuk-body" %}

{% block contentBody %}

  <form method="post" action="{{ content.continueButtonLink }}">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{ govukRadios(content.selectOutcomeRadio) }}
    {{ govukButton(content.continueButton) }}
  </form>

{% endblock %}
