{% extends "../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = content.pageHeader + " – " + applicationName %}
{% set mainClasses = "govuk-body" %}

{% block contentBody %}
  <form method="post" action="{{ content.formAction }}" novalidate>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{ govukRadios(content.removeActivityRadio) }}
    {{ govukButton(content.saveAndContinueButton) }}
  </form>
{% endblock %}
