{% extends "../partials/layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Action plan – " + applicationName %}
{% set mainClasses = "govuk-body" %}

{% block contentBody %}
  <h1 class="govuk-heading-l">{{ content.pageHeader }}</h1>
  {% if content.needsSummary %}
    {{ govukSummaryList(content.needsSummary) }}
  {% else %}
    {{ content.noActionPlanText }}
  {% endif %}
  {% if content.createButton %}
    <form method="post" novalidate action="{{ content.createLink }}">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      {{ govukButton(content.createButton) }}
    </form>
  {% endif %}
{% endblock %}e
