{% extends "../partials/layout.njk" %}

{% from "components/action-plan-summary-list/macro.njk" import actionPlanSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Action plan – " + applicationName %}
{% set mainClasses = "govuk-body" %}

{% block content %}
  <div class="actionplan-summaru__actions">
    {% if content.addAnotherOutcomeButton %}
    {{ govukButton(content.addAnotherOutcomeButton) }}
    {% endif %}
    {% if content.submitActionPlanButton %}
    {{ govukButton(content.submitActionPlanButton) }}
    {% endif %}
  </div>
  <div class="actionplan-summary__title">
    <h1 class="govuk-heading-l">{{ content.pageHeader }}</h1>
  </div>
  <p>{{ content.updatedAtText }}</p>
  <p>{{ content.noActionPlanText }}</p>
  {% if content.needsSummary %}
    {% for need in content.needsSummary %}
      <table><tr><td class="actionplan-summary__index">{{ loop.index }}. </td><td>{{ actionPlanSummaryList(need) }}</td></tr></table>
    {% endfor %}
  {% endif %}
  {% if content.createButton %}
    <form method="post" novalidate action="{{ content.createLink }}">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      {{ govukButton(content.createButton) }}
    </form>
  {% endif %}
{% endblock %}
