{% extends "../partials/layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}


{% set pageTitle = applicationName + " - Referral Confirmation page" %}
{% set mainClasses = "govuk-body" %}


{% block contentBody %}
  {{ govukPanel(panel) }}

  <p class="govuk-body">
  <a href="{{ startAReferralLink }}">Start a new referral</a></p>`
  </p>
{% endblock %}
