{% extends "../partials/layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% set pageTitle = applicationName + " - Referral Confirmation page" %}
{% set mainClasses = "govuk-body" %}


{% block contentBody %}
  {{ govukPanel(panel) }}

  <p class="govuk-body">
    <div class="govuk-button-group">
      {{ govukButton({
        text: startNewReferralButtonText,
        href: startNewReferralLink
      }) }}
      <a href="{{ backToCommunityHomeLink }}" class="govuk-link">{{ backToCommunityHomeLinkText }}</a>
    </div>
  </p>
{% endblock %}
