{% extends "../partials/layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = "Referral - Community Support" %}
{% set mainClasses = "govuk-body" %}

{% block contentBody %}
  <h1 class="govuk-heading-l">Referral for {{ content.name }}</h1>
  <h2 class="govuk-heading-m">Case details</h2>
  {{ govukSummaryList(content.personal) }}
  {{ govukSummaryList(content.equality) }}
  {{ govukSummaryList(content.contact) }}
  {{ govukSummaryList(content.referral) }}
  {{ govukWarningText(content.warning) }}
{% endblock %}
