{% extends "../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Find a Person" %}
{% set mainClasses = "govuk-body" %}

{% block contentBody %}
  <form method="post" novalidate action="/referral/new/find-a-person">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{ govukInput({
        label: {
          text: "Enter a CRN or prison number",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        classes: "govuk-input--width-10",
        id: "personIdentifier",
        name: "personIdentifier",
        errorMessage: errors.messages.personIdentifier
    }) }}

    <div class="govuk-button-group">
        {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
    </div>

  </form>
{% endblock %}
