{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Found a Person" %}
{% set mainClasses = "govuk-body" %}

{% block content %}

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">Person Details</h1>

    <div id="person-details">{{person.personIdentifier}}</div>
 </div>
 </div>

{% endblock %}
