{% extends "../partials/layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Found a Person" %}
{% set mainClasses = "govuk-body" %}

{% block contentBody %}
  <h1 class="govuk-heading-l">{{content.staticContent.pageHeader}}</h1>
    {{ govukSummaryList(content.personSummary) }}
    {{ govukSummaryList(content.equalityMonitoring) }}
    {% if content.additionalInformation %}
      {{ govukSummaryList(content.additionalInformation) }}
    {% endif %}
    {{ govukSummaryList(content.contactDetails) }}
    <form method="post" novalidate action="{{ content.staticContent.continueButtonLink }}">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <div class="govuk-button-group">
        {{ govukButton({
          text: content.staticContent.continueButtonText,
          preventDoubleClick: true
        }) }}
        <a class="govuk-link" href="{{ content.staticContent.enterDifferentIdentifierLinkHref }}">
          {{ content.staticContent.enterDifferentIdentifierLinkText }}
        </a>
      </div>
    </form>
{% endblock %}
