{% extends "../partials/layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = "View or change session details - Community Service" %}
{% set mainClasses = "govuk-body" %}

{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">{{ content.heading }}</h1>

{{ govukSummaryList(content.details) }}

</div>
</div>

{% endblock %}
