{% extends "../partials/layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = "View or change session details - Community Support" %}
{% set mainClasses = "govuk-body" %}

{% block contentBody %}
  <h1 class="govuk-heading-l">{{ content.heading }}</h1>

  {{ govukSummaryList(content.icsDetails) }}
  {% if content.historical %}
    {{ govukSummaryList(content.reasonForChange) }}
  {% endif %}
{% endblock %}
