{% extends "../partials/layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Do they need an interpreter? - [Service name]" %}
{% set mainClasses = "govuk-body" %}

{% block contentBody %}

<div class="govuk-grid-row">
  <form method="post" >
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{ govukRadios(content.radios) }}
    {{ govukButton(content.button) }}
  </form>
</div>
{% endblock %}
