{% extends "../partials/layout.njk" %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = "Referral progress – " + applicationName %}
{% set mainClasses = "govuk-body" %}

{% block contentBody %}
  {% if content.notificationBanner %}
    {{ govukNotificationBanner(content.notificationBanner) }}
  {% endif %}

  <h1 class="govuk-heading-l">{{ content.pageHeader }}</h1>

  {{ mojSubNavigation(content.navBar) }}

  <h2 class="govuk-heading-m">Referral progress</h2>
  <h3 class="govuk-heading-s">Initial contact session (ICS)</h3>

  {% if content.icsAppointmentTable and content.icsAppointmentTable.rows.length %}
    {{ govukTable(content.icsAppointmentTable) }}
  {% else %}
    <p class="govuk-body">No appointments scheduled</p>
  {% endif %}
{% endblock %}
