{% extends "../partials/layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = applicationName + " - Referral" %}
{% set mainClasses = "govuk-body" %}

{% block content %}

<div class="govuk-width-container">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<h1>Referral for {{ content.name }}</h1>
<h2>Case details</h2>

{{ govukSummaryList(content.personal) }}
{{ govukSummaryList(content.equality) }}
{{ govukSummaryList(content.contact) }}
{{ govukSummaryList(content.referral) }}

</div>
</div>
</div>

{% endblock %}
