.actionplan-summary__index {
  vertical-align: top;
  font-weight: bold;
  width: 2%;
  padding-top: 23px;
}

.actionplan-summary__title {
  text-align: left;
  margin-right: 5em;
}

.actionplan-summaru__actions {
  float: right;
  display: inline;
  text-align: right;
}
