{% extends "../partials/layout.njk" %}

{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}
{%- from "govuk/components/pagination/macro.njk" import govukPagination -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}


{% set pageTitle = applicationName + " - Case List" %}
{% set mainClasses = "govuk-body" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ content.staticContent.pageHeader }}</h1>
  <br />
  {{ mojSubNavigation(content.navBar) }}
  {% if not content.hasCases %}
    <h2 class="govuk-heading-m" data-testid="no-cases-title">{{ content.noCasesTitle }}</h2>
    <p data-testid="no-cases-message">{{ content.staticContent.noCasesMessage }}</p>
  {% endif %}

  {{ govukTable(content.caseListTable) }}
{%- if content.hasCases and content.pagination %}
  {{ mojPagination(content.pagination) }}
{%- endif %}
</div>

{% endblock %}