.govuk-select {
  min-width: 4.5em;
}

.area-radio {
  .govuk-radios__divider {
    font-weight: bold;
    margin-top: 30px;
    text-align: left;
    width: 100%;
  }
}

.guidance-panel {
  border-left-color: govuk-colour('blue');
  background-color: #eaf4f9;
}
