{% extends "../partials/layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Referral" %}
{% set mainClasses = "govuk-body" %}

{% block content %}
  <form method="post" >
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{ govukRadios(content.radios) }}
    {{ govukButton(content.button) }}
  </form>
{% endblock %}
