{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set pageTitle = applicationName + " - Confirm ICS" %}
{% set mainClasses = "govuk-body" %}

{% block content %}

<h1 class="govuk-heading-xl">{{ content.pageHeader }}</h1>

    {% if content.notificationBanner %}
      {{ govukNotificationBanner(content.notificationBanner) }}
    {% endif %}

    {{ govukSummaryList(content.icsDetailsSummary) }}
    {% if content.icsChangeReasonSummary %}
      {{ govukSummaryList(content.icsChangeReasonSummary) }}
    {% endif %}

    <form method="post" action="{{ content.submitHref }}">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{ govukButton({
        text: content.submitButtonText,
        classes: "govuk-!-margin-top-6"
    }) }}
    </form>

{% endblock %}
