{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "components/time-input-no-meridiem/macro.njk" import timeInputNoMeridiem %}

{% set pageTitle = "Record session details - ICS feedback - [service name]" %}
{% set mainClasses = "govuk-body" %}

{% block content %}
{% if errors.list.length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors.list,
    attributes: {
      "data-testid": "error-messages"
    }
  }) }}
{% endif %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ content.pageHeader }}</h1>

    {{ govukSummaryList(content.appointment) }}

    <form method="post" action="{{ content.submitHref }}">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    {% set lateReasonMessage = "Why was " + content.firstName + " late?" %}
    {% set wasLateHtml %}
      {{ govukTextarea({
        id: "lateReason",
        name: "lateReason",
        value: content.formData["lateReason"],
        spellcheck: false,
        attributes: { "data-testid": "lateReason" },
        label: {
          text: lateReasonMessage,
          classes: "govuk-label--s",
          attributes: { "data-testid": "lateReasonLabel" },
          isPageHeading: true
        }
      }) }}
    {% endset %}

    {% set lateRadioItems = [
      { value: "Yes", text: "Yes", conditional: { html: wasLateHtml }, checked: content.formData["wasPersonLate"] === true },
      { value: "No", text: "No", checked: content.formData["wasPersonLate"] === false }
    ] %}
    {% set lateMessage = "Was " + content.firstName + " late?" %}
    {{ govukRadios({
      name: "wasPersonLate",
      fieldset: {
        attributes: { "data-testid": "fieldset-wasPersonLate" },
        legend: {
          text: lateMessage,
          isPageHeading: false,
          classes: "govuk-fieldset__legend govuk-fieldset__legend--m"
        }
      },
      errorMessage: errors.messages.wasPersonLate,
      attributes: { "data-testid": "wasPersonLate" },
      items: lateRadioItems
    }) }}

    {% set durationErrors = (errors.messages["sessionDuration-hours"]) or (errors.messages["sessionDuration-minutes"]) %}
    {% if durationErrors %}<div class="govuk-form-group--error">{% endif %}
    {% call govukFieldset({
      classes: "govuk-fieldset",
      attributes: { "data-testid": "fieldset-sessionDuration" },
      legend: {
        text: "How long did the session last?",
        classes: "govuk-fieldset__legend govuk-fieldset__legend--m",
        isPageHeading: false
      }
    }) %}
      {% if errors.messages["sessionDuration-hours"] %}
        {{ govukErrorMessage({
          text: errors.messages["sessionDuration-hours"].text,
          classes: 'govuk-error-message'
        }) }}
      {% endif %}
      {% if errors.messages["sessionDuration-minutes"] %}
        {{ govukErrorMessage({
          text: errors.messages["sessionDuration-minutes"].text,
          classes: 'govuk-error-message'
        }) }}
      {% endif %}
      {{ timeInputNoMeridiem({
        id: "sessionDuration",
        attributes: { "data-testid": "sessionDuration" },
        namePrefix: "sessionDuration",
        items: [
          { name: "hours", value: content.formData["sessionDuration-hours"] or "", inputmode: "numeric", classes: "govuk-input govuk-date-input__input govuk-input--width-2" },
          { name: "minutes", value: content.formData["sessionDuration-minutes"] or "",inputmode: "numeric", classes: "govuk-input govuk-date-input__input govuk-input--width-2" }
        ]
      }) }}
    {% endcall %}
    {% if durationErrors %}</div>{% endif %}
    <hr class="govuk-section-break govuk-section-break--m"/>

    {{ govukButton({
      text: content.submitButtonText,
      classes: "govuk-!-margin-top-6"
    }) }}
    </form>
  </div>
</div>
{% endblock %}
