{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = "Record session attendance - ICS feedback - [service name]" %}
{% set mainClasses = "govuk-body" %}

{% block contentBody %}
  <h1 class="govuk-heading-l">{{ content.pageHeader }}</h1>
  <p class="govuk-body" data-testid="subheading">{{ content.description }} </p>
  {{ govukSummaryList(content.appointment) }}
  {% if content.form %}
      <form method="post" action="{{ content.submitHref }}">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        {{ govukRadios(content.form.radios) }}
        {{ govukButton(content.form.button) }}
      </form>
  {% endif %}
{% endblock %}
