{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set pageTitle = "Reason for changing the session details - " + content.serviceName %}
{% set mainClasses = "govuk-body" %}

{% block contentBody %}
  <h1 class="govuk-heading-l">{{ content.pageHeader }}</h1>
  <form method="post" action="{{ content.submitHref }}">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{ govukRadios(content.whoRequestedRadios) }}
    {{ govukTextarea(content.reason) }}
    {{ govukButton(content.submitButton) }}
  </form>
{% endblock %}
