{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "components/time-input/macro.njk" import timeInput %}

{% set pageTitle = "Schedule the ICS - " + content.serviceName %}
{% set mainClasses = "govuk-body" %}

{% block contentBody %}
<h1 class="govuk-heading-l" data-testid="page-heading">{{ content.pageHeader }}</h1>

  {% if content.notificationBanner %}
    {{ govukNotificationBanner(content.notificationBanner) }}
  {% endif %}

  <form method="post" action="{{ content.submitHref }}">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{ mojDatePicker(content.date) }}
    {{ timeInput(content.time) }}
    {{ govukRadios(content.how) }}
    {{ govukCheckboxes(content.informed) }}
    {{ govukButton(content.submitButton) }}
  </form>
{% endblock %}
