{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "components/time-input/macro.njk" import timeInput %}

{% set pageTitle = "Schedule the ICS - " + content.serviceName %}
{% set mainClasses = "govuk-body" %}

{% block contentBody %}
<h1 class="govuk-heading-l">{{ content.pageHeader }}</h1>

  {% if content.notificationBanner %}
    {{ govukNotificationBanner(content.notificationBanner) }}
  {% endif %}

  <form method="post" action="{{ content.submitHref }}">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  {% call govukFieldset({
    classes: "govuk-fieldset",
    legend: {
      text: "What is the date of the session?",
      classes: "govuk-fieldset__legend govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}
    {{ mojDatePicker({
      id: "sessionDate",
      name: "sessionDate",
      value: content.formData["sessionDate"],
      errorMessage: errors.messages.sessionDate,
      hint: {
        text: "Enter a date, for example 10/7/2025, or select one from the calendar."
      }
    }) }}
  {% endcall %}

  {% call govukFieldset({
    classes: "govuk-fieldset",
    legend: {
      text: "What time does the session start?",
      classes: "govuk-fieldset__legend  govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}
    {{ timeInput({
      id: "sessionTime",
      namePrefix: "sessionTime",
      errorMessage: errors.messages.sessionTime,
      hint: {
        text: "Use the 12-hour clock, for example 11:30am or 3pm."
      },
      items: [
        { name: "hour", value: content.formData["sessionTime-hour"] or "", classes: "govuk-input govuk-date-input__input govuk-input--width-2" },
        { name: "minute", value: content.formData["sessionTime-minute"] or "", classes: "govuk-input govuk-date-input__input govuk-input--width-2" }
      ],
      meridiemParams: {
        label: "AM or PM",
        value: content.formData["sessionTime-meridiem"] or ""
      }
    }) }}
  {% endcall %}

  {% set phoneCallHtml %}
    {{ govukInput({
      id: "ByPhone",
      name: "ByPhone",
      type: "text",
      value: content.formData["ByPhone"],
      errorMessage: errors.messages.ByPhone,
      spellcheck: false,
      classes: "govuk-!-width-full",
      label: {
        text: "Why is this session not in person?"
      }
    }) }}
  {% endset -%}

  {% set videoCallHtml %}
    {{ govukInput({
      id: "ByVideo",
      name: "ByVideo",
      type: "text",
      value: content.formData["ByVideo"],
      errorMessage: errors.messages.ByVideo,
      spellcheck: false,
      classes: "govuk-!-width-full",
      label: {
        text: "Why is this session not in person?"
      }
    }) }}
  {% endset %}

  {% set inProbationOfficeHtml = "" %}
  {% set inSomewhereElseHtml = "" %}
  {% set inPrisonHtml = "" %}
  {% set otherContactMethodHtml = "" %}

  {% if content.isPersonInCommunity %}
    {% set inProbationOfficeHtml %}
      {{ govukSelect({
        id: "probationOfficeList",
        name: "probationOfficeList",
        items: content.probationOfficesSelectItems,
        value: content.formData["probationOffice"],
        errorMessage: errors.messages.probationOfficeList
      }) }}
    {% endset %}

    {% set inSomewhereElseHtml %}
      {{ govukInput({
        label: {
          text: 'Address line 1'
        },
        id: "addressLine1",
        name: "addressLine1",
        value: content.formData["addressLine1"],
        errorMessage: errors.messages.addressLine1,
        autocomplete: "address-line1"
      }) }}

      {{ govukInput({
        label: {
          text: 'Address line 2 (optional)'
        },
        id: "addressLine2",
        name: "addressLine2",
        value: content.formData["addressLine2"],
        errorMessage: errors.messages.addressLine2,
        autocomplete: "address-line2"
      }) }}

      {{ govukInput({
        label: {
          text: "Town or city"
        },
        classes: "govuk-!-width-two-thirds",
        id: "addressTown",
        name: "addressTown",
        value: content.formData["addressTown"],
        errorMessage: errors.messages.addressTown,
        autocomplete: "address-level2"
      }) }}

      {{ govukInput({
        label: {
          text: "County (optional)"
        },
        classes: "govuk-!-width-two-thirds",
        id: "addressCounty",
        name: "addressCounty",
        value: content.formData["addressCounty"],
        errorMessage: errors.messages.addressCounty
      }) }}

      {{ govukInput({
        label: {
          text: "Postcode"
        },
        classes: "govuk-input--width-10",
        id: "addressPostcode",
        name: "addressPostcode",
        value: content.formData["addressPostcode"],
        errorMessage: errors.messages.addressPostcode,
        autocomplete: "postal-code"
      }) }}
    {% endset %}

    {% set otherMethodOfContactHtml %}
    {{ govukInput({
      id: "otherMethodOfContact",
      name: "otherMethodOfContact",
      value: content.formData["otherMethodOfContact"],
      type: "text",
      errorMessage: errors.messages.otherMethodOfContact,
      spellcheck: false,
      classes: "govuk-!-width-full",
      label: {
        text: "Other method of contact"
      }
    }) }}
    {% endset %}
  {% else %}
    {% set inPrisonHtml %}
      {{ govukSelect({
        id: "prisonList",
        name: "prisonList",
        items: content.prisonsSelectItems,
        value: content.formData["prison"],
        errorMessage: errors.messages.prisonList
      }) }}
    {% endset %}
  {% endif %}

  {% set items = [
    { value: "ByPhone", text: "Phone call", conditional: { html: phoneCallHtml } },
    { value: "ByVideo", text: "Video call", conditional: { html: videoCallHtml } }
  ] %}

  {% if content.isPersonInCommunity %}
    {% set items = (items.push({
      value: "InProbationOffice",
      text: "In-person meeting - probation office",
      conditional: { html: inProbationOfficeHtml }
    }), items) %}

    {% set items = (items.push({
      value: "InSomewhereElse",
      text: "In-person meeting - somewhere else",
      conditional: { html: inSomewhereElseHtml }
    }), items) %}
  {% else %}
    {% set items = (items.push({
      value: "InPrison",
      text: "In-person meeting - prison establishment",
      conditional: { html: inPrisonHtml }
    }), items) %}
  {% endif %}

  {{ govukRadios({
    name: "sessionTakePlace",
    fieldset: {
      legend: {
        text: "How will the session take place?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend govuk-fieldset__legend--m"
      }
    },
    value: content.formData["sessionTakePlace"],
    errorMessage: errors.messages.sessionTakePlace,
    hint: {
      text: "Select one option."
    },
    items: items
  }) }}

  {% set informMessage = "How was " + content.firstName + " informed about the session?" %}
  {% if content.isPersonInCommunity %}
    {{ govukCheckboxes({
      id: "informedMethod",
      name: "informedMethod",
      fieldset: {
        legend: {
          text: informMessage,
          isPageHeading: false,
          classes: "govuk-fieldset__legend govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "informedByPhone",
          text: "Phone call"
        },
        {
          value: "informedByTextMessage",
          text: "Text message"
        },
        {
          value: "informedByEmail",
          text: "Email"
        },
        {
          value: "informedByOtherMethod",
          text: "Other",
          conditional: {
            html: otherMethodOfContactHtml
          }
        }
      ],
      values: content.formData.informedMethod,
      errorMessage: errors.messages.informedMethod
    }) }}
  {% endif %}

  {{ govukButton({
      text: content.submitButtonText,
      classes: "govuk-!-margin-top-6"
  }) }}
  </form>
{% endblock %}
