{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set pageTitle = content.pageTitle %}
{% set mainClasses = "govuk-body" %}

{% block contentBody %}
  <h1 class="govuk-heading-l">{{ content.pageHeader }}</h1>
  {% if content.description %}
    <p class="govuk-body" data-testid="subheading">{{ content.description }}</p>
  {% endif %}
  {% if content.form %}
    <form method="post" action="{{ content.submitHref }}">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      {{ govukTextarea(content.form.whatDidYouDoTextarea) }}
      {{ govukTextarea(content.form.behaviourTextarea) }}
      {{ govukTextarea(content.form.strengthsIdentifiedTextarea) }}
      {{ govukButton(content.form.button) }}
    </form>
  {% endif %}
{% endblock %}
