{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Referral" %}
{% set mainClasses = "govuk-body" %}

{% block content %}

  <h1>Welcome to the Community Support service.</h1>
  <p>Please check back later when there is content to view.</p>
  <p data-qa="timestamp">The time is currently {{ currentTime }}</p>

{% endblock %}
